* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dubbelflexing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#flexing {
    display: flex;
    justify-content: center;

}

.calcbase {
    background-color: #D9D9D9;
    height: 510px;
    width: 310px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.display {
    height: 90px;
    width: 271px;
    border-radius: 10px;
    text-align: right;
    font-size: 3rem;
    background-color: #fff;
    color: #23CAFF;
    position: absolute;
    margin-top: 3vh;
}

.numberbutton {
    border: 0;
    background-color: #fff;
    color: #23CAFF;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    font-size: 2.5rem;
    margin: 2.9px;
    text-align: center;
}

#equal {
    background-color: #23CAFF;
    color: #fff;
    border: 0;
    border-radius: 20px;
    height: 70px;
    width: 140px;
    margin: 4px;
    font-size: 2.5rem;
}


#clear {
    background-color: #23CAFF;
    color: #fff;
    border: 0;
    border-radius: 20px;
    height: 70px;
    width: 210px;
    margin: 4px;
    font-size: 2.5rem;
    font-weight: 600;
}


.numberfunction {
    background-color: #23CAFF;
    color: #fff;
    border: 0;
    border-radius: 100px;
    height: 70px;
    width: 70px;
    margin: 2px;
    font-size: 2.5rem;
    text-align: center;
}

#buttonsplacing {
    margin-top: -4vh;
}

.rowone {
    display: flex;
    justify-content: center;
}

.rowtwo {
    display: flex;
    justify-content: center;
}

.rowthree {
    display: flex;
    justify-content: center;
}

.rowzero {
    display: flex;
    justify-content: center;
}

.rowfour {
    display: flex;
    justify-content: center;
    margin-top: 145px;
}